@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }

    .promo {
        &__header {
            display: block;
            font-size: 35px;
        }

    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 575px) {}